<footer class="post-info">
    <span class="published">
        <time datetime="{{ article.date.isoformat() }}"><i class="fa fa-calendar"></i> {{ article.locale_date }}</time>
    </span>
    
    {% if SHOW_ARTICLE_AUTHOR %}
        {% if article.author %}
            <span class="label label-default">By</span>
            <a href="{{ SITEURL }}/{{ article.author.url }}"><i class="fa fa-user"></i> {{ article.author }}</a>
        {% endif %}
    {% endif %}

    {% if SHOW_ARTICLE_CATEGORY %}
        <span class="label label-default">Category</span>
        <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
    {% endif %}

    {% if PDF_PROCESSOR %}
        <span class="label label-default">
            <a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf">PDF</a>
        </span>
    {% endif %}
    {% import 'includes/translations.html' as translations with context %}{{ translations.translations_for(article) }}
    <a onclick="$.get('{{SITEURL}}/{{article.slug}}.text', function(data){$('#source-code').text(data)});$('#article-content').toggle();$('#source-content').toggle();" class="btn btn-primary" title="{% trans %}Show source code of this page{%endtrans%}"><i class="fa fa-code"></i></a>
    {% include "includes/comment_count.html" %}
    {% include "includes/taglist.html" %}
</footer><!-- /.post-info -->
