{% if GITHUB_USER %}
<div class="panel panel-default">
    <div class="panel-heading">
    	<h4><i class="fa fa-github fa-lg"></i><span class="icon-label">GitHub Repos</span></h4>
    </div>
    <div class="panel-body">
        <div id="gh_repos">
            <p class="list-group-item">Status updating...</p>
        </div>
        {% if GITHUB_SHOW_USER_LINK is defined %}
            <a href="https://github.com/{{ GITHUB_USER }}">@{{ GITHUB_USER }}</a> on GitHub
        {% endif %}
    </div>
</div>
{% endif %}