{% extends "base.html" %}
{% block content %}
    {% if articles %}
    <div class="row">
        {% for article in (articles_page.object_list if articles_page else articles) %}
        <div class="col-md-12 col-lg-6">
            <article class="panel panel-primary">
                <div class="panel-heading">
                    <a href="{{ SITEURL }}/{{ article.url }}" class="btn btn-primary btn-lg"><h2>{{ article.title }}
                    </h2></a>
                    {% import 'includes/translations.html' as translations with context %}
                    {{ translations.translations_for(article) }}
                    {% if DISPLAY_ARTICLE_INFO_ON_INDEX %}
                        <span>
                            {% include "includes/article_info.html" %}
                        </span>
                    {% endif %}
                </div>
                <div class="panel-body">
                    <div class="summary">{{ article.summary }}
                        {% include 'includes/comment_count.html' %}
                        <a class="btn btn-default btn-xs" href="{{ SITEURL }}/{{ article.url }}">more ...</a>
                    </div>
                </div>
            </article>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% include 'includes/pagination.html' %}
{% endblock content %}
