<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}"
      {% if USE_OPEN_GRAPH %}
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml"{% endif %}>
<head>
    <title>{% macro title() -%}
    {% block title %}{{ SITENAME }}{% endblock %}
    {%- endmacro %}{{title()}}</title>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if 'liquid_tags.notebook' in PLUGINS %}
        {% include 'includes/liquid_tags_nb_header.html' %}
    {% endif %}

    {# Favicons are a touchy subject. For reasoning for the following code, see: http://stackoverflow.com/a/23851464/872397 #}
    {% if FAVICON %}
    <link href="{{ SITEURL }}/{{ FAVICON }}" rel="icon">
    {% endif %}
    {% if FAVICON_IE %}
    <!--[if IE]><link rel="shortcut icon" href="{{ SITEURL }}/{{ FAVICON_IE }}"><![endif]-->
    {% endif %}
    {% if TOUCHICON %}
    <link rel="apple-touch-icon" href="{{ SITEURL }}/{{ TOUCHICON }}">
    {% endif %}

    {% block canonical_rel %}{% endblock %}

    {% block meta %}
        <meta name="author" content="{{ AUTHOR }}" />
    {% endblock %}

    {# Open Graph tags #}
    {% if USE_OPEN_GRAPH is not defined %}
        {% set USE_OPEN_GRAPH = True %}
    {% endif %}
    {% if USE_OPEN_GRAPH %}
    {% block opengraph %}
    <!-- Open Graph tags -->
        {% if OPEN_GRAPH_FB_APP_ID %}
            <meta property="fb:app_id" content="{{ OPEN_GRAPH_FB_APP_ID }}"/>
        {% endif %}
        <meta property="og:site_name" content="{{ SITENAME }}" />
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="{{ SITENAME }}"/>
        <meta property="og:url" content="{{ SITEURL }}"/>
        <meta property="og:description" content="{{ SITENAME }}"/>
        {% if OPEN_GRAPH_IMAGE %}
            <meta property="og:image"
                  content="{{ SITEURL }}/{{ OPEN_GRAPH_IMAGE }}"/>
        {% endif %}
    {% endblock %}
    {% endif %}

    {# Twitter Cards tags #}
    {% include 'includes/twitter_cards.html' %}

    <!-- Bootstrap -->
    {% if USE_LESS %}
        <link href="{{ SITEURL }}/theme/bootstrap/bootstrap.less" rel="stylesheet/less" type="text/css">
    {% else %}
        <link href="{{ SITEURL }}/theme/css/bootstrap.min.css" rel="stylesheet">
    {% endif %}
    
    <link href="{{ SITEURL }}/theme/css/font-awesome.min.css" rel="stylesheet">

    <link href="{{ SITEURL }}/theme/css/pygments/{{ PYGMENTS_STYLE|default('native') }}.css" rel="stylesheet">
    {% if 'tipue_search' in PLUGINS %}
    <link href="{{ SITEURL}}/theme/tipuesearch/tipuesearch.css" rel="stylesheet">
    {% endif %}
    {% if DOCUTIL_CSS %}
        <link href="{{ SITEURL }}/theme/css/html4css1.css" rel="stylesheet">
    {% endif %}
    {% if TYPOGRIFY %}
        <link href="{{ SITEURL }}/theme/css/typogrify.css" rel="stylesheet">
    {% endif %}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" type="text/css"/>
    {% if CUSTOM_CSS %}
        <link href="{{ SITEURL }}/{{ CUSTOM_CSS }}" rel="stylesheet">
    {% endif %}

    {% if FEED_ALL_ATOM %}
        <link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"
              title="{{ SITENAME }} ATOM Feed"/>
    {% endif %}
    {% if FEED_ALL_RSS %}
        <link href="{{ SITEURL }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate"
              title="{{ SITENAME }} RSS Feed"/>
    {% endif %}

    {% if USE_LESS %}
        <link href="{{ SITEURL }}/theme/material/material.less" rel="stylesheet/less" type="text/css">
        <link href="{{ SITEURL }}/theme/material/ripples.less" rel="stylesheet/less" type="text/css">
    {% else %}
        <link href="{{ SITEURL }}/theme/css/material.min.css" rel="stylesheet">
        <link href="{{ SITEURL }}/theme/css/ripples.min.css" rel="stylesheet">
    {% endif %}
</head>
<body>
<div style="display:none" id="title">{{ title() }}</div>

<div class="navbar {% if BOOTSTRAP_NAVBAR_INVERSE %}navbar-inverse{% else %}navbar-default{% endif %} navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ SITEURL }}/" class="navbar-brand">
                {% if SITELOGO %}<img src="{{ SITEURL }}/{{ SITELOGO }}" width="{{ SITELOGO_SIZE }}"/> {% endif %}
                {% if not HIDE_SITENAME %}{{ SITENAME }}{% endif %}
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
                {% if DISPLAY_PAGES_ON_MENU %}
                    {% for p in PAGES %}
                         <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">
                             {{ p.menulabel|default(p.title) }}
                          </a></li>
                      {% endfor %}
                {% endif %}
                {% if DISPLAY_CATEGORIES_ON_MENU %}
                    {% for cat, null in categories %}
                        <li {% if cat == category %}class="active"{% endif %}>
                            <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat | capitalize }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
            <ul class="nav navbar-right navbar-form">
            {% if 'tipue_search' in PLUGINS %}
              <li><span>
                <form class="navbar-search" action="/search.html">
                  <input type="text" class="search-query form-control col-lg-8" placeholder="Search" name="q" id="tipue_search_input" required>
                </form></span>
              </li>
            {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{ SITEURL }}/{{ ARCHIVES_URL | default('archives.html') }}"><i class="fa fa-th-list"></i><span class="icon-label">All</span></a></li>
              <li><a href="{{ SITEURL }}/{{ FEED_ALL_URL | default('feeds/all.atom.xml') }}" title="Atom feeds for all articles"><i class="fa fa-rss"></i></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</div> <!-- /.navbar -->
<!-- Banner -->
{% if BANNER and BANNER_ALL_PAGES %}
    {% include 'includes/banner.html' %}
{% elif BANNER and not BANNER_ALL_PAGES %}
    {% block banner %}{% endblock %}
{% endif %}
<!-- End Banner -->
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-9 col-sm-8">
            <div id="loading-block">
            {% block breadcrumbs %}
            {% endblock %}
            {% block content %}
            {% endblock %}
            </div>
        </div>
        {% if not HIDE_SIDEBAR or ABOUT_ME %}
        <div class="col-lg-2 col-md-3 col-sm-4" id="sidebar">
            <aside>
            {% if not HIDE_SIDEBAR %}
                {% include 'includes/sidebar.html' %}
            {% endif %}
            </aside>
        </div>
        {% endif %}
    </div>
</div>
{% include 'includes/footer.html' %}

<script src="{{ SITEURL }}/theme/js/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>

<!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
<script src="{{ SITEURL }}/theme/js/respond.min.js"></script>

{% if BANNER %}
    <script src="{{ SITEURL }}/theme/js/bodypadding.js"></script>
{% endif %}
{% include 'includes/github-js.html' %}
{% include 'includes/disqus_script.html' %}
{% include 'includes/ga.html' %}
{% include 'includes/piwik.html' %}

{% block scripts %}{% endblock %}
{% if USE_LESS %}
<script src="{{ SITEURL }}/theme/js/less.min.js" type="text/javascript"></script>
{% endif %}
<script src="{{ SITEURL }}/theme/js/ripples.min.js"></script>
<script src="{{ SITEURL }}/theme/js/material.min.js"></script>
<script>
    function linkto(){

    }

    function htmlDecode(value){
      return $('<div/>').html(value).text();
    }

    function evalScript(data, context){
        var re = /<script\b[^>]*>([\s\S]*?)<\/script>/gm;
        var match;
        while (match = re.exec(data)) {
          // full match is in match[0], whereas captured groups are in ...[1], ...[2], etc.
          context.append(match[0]);
        }
    }

    $(document).ready(function() {
        $.material.init();

        function applyTranslateAnime(){
            $(".article-content .translate").each(function(idx, obj){
                $(obj).attr("data-href", $(obj).attr("href"));
                $(obj).attr("href", "javascript:void(0)");
                $(obj).click(function(){
                    var href = $(obj).attr("data-href");
                    $('.breadcrumb').fadeOut("slow");
                    $('.article-content').fadeOut("slow",function(){
                        $.get(href, function(data){
                            var el = new DOMParser().parseFromString(data, 'text/html');
                            var title = $("#title", el)[0].innerHTML;
                            var content = $(".article-content", el)[0].innerHTML;
                            var breadcrumb = $(".breadcrumb", el)[0].innerHTML;

                            document.title = htmlDecode(title);
                            window.history.pushState({
                                "content": content ,
                                "title":title ,
                                "breadcrumb":breadcrumb
                            },"", href);
                            $('.article-content')[0].innerHTML = content;
                            $('.breadcrumb')[0].innerHTML = breadcrumb;
                            $('.article-content').fadeIn('slow');
                            $('.breadcrumb').fadeIn('slow');
                            $("#comments script", el).each(function(idx, obj){
                                // re-enable disqus
                                eval(obj.innerHTML);
                            });
                            applyTranslateAnime();
                        }).fail(function(){
                            // failback to changing url
                            window.location.href = href ;
                        });
                    });
                });
            });
        };
        applyTranslateAnime();

        window.onpopstate = function(e){
            if(e.state){
                
                document.title = htmlDecode(e.state.title);
                $('.breadcrumb').fadeOut("slow");
                $('.article-content').fadeOut("slow",function(){
                    $('.article-content')[0].innerHTML = e.state.content;
                    $('.breadcrumb')[0].innerHTML = e.state.breadcrumb;
                    $('.article-content').fadeIn('slow');
                    $('.breadcrumb').fadeIn('slow');
                    $("#comments script").each(function(idx, obj){
                        // re-enable disqus
                        eval(obj.innerHTML);
                    });
                    applyTranslateAnime();
                });
            }
        }
        
        

        // if (typeof String.prototype.startsWith != 'function') {
        //   // see below for better implementation!
        //   String.prototype.startsWith = function (str){
        //     return this.indexOf(str) == 0;
        //   };
        // }
        // if (typeof String.prototype.endsWith != 'function') {
        //     String.prototype.endsWith = function(suffix) {
        //         return this.indexOf(suffix, this.length - suffix.length) !== -1;
        //     };
        // }
        // function applyAjaxAnime(){
            
        //     function applyAjaxAnimeOn(idx, obj){
        //         var href = $(obj).attr("href");
        //         if(href.startsWith("java") || 
        //             href.startsWith("http")||
        //             ! href.endsWith(".html")){
        //             return;
        //         }

        //         $(obj).attr("data-href", $(obj).attr("href"));
        //         $(obj).attr("href", "javascript: linkto('" + href+"')");
        //         $(obj).click(function(){
        //             var href = $(obj).attr("data-href");
        //             $('#loading-block').fadeOut("slow",function(){
        //                 $.get(href, function(data){
        //                     var el = new DOMParser().parseFromString(data, 'text/html');

        //                     var title = $("#title", el)[0].innerHTML;
        //                     var content = $("#loading-block", el)[0].innerHTML;
                            
        //                     document.title = htmlDecode(title);
        //                     window.history.pushState({
        //                         "content": content ,
        //                         "title":title,
        //                         "data":data
        //                     },"", href);
        //                     $('#loading-block')[0].innerHTML = content;
        //                     $('#loading-block').fadeIn('slow');

        //                     evalScript(data, $('#loading-block'));
        //                     applyAjaxAnime();
        //                 }).fail(function(){
        //                     // failback to changing url
        //                     window.location.href = href ;
        //                 });
        //             });
        //         });
        //     }

        //     $("a").each(applyAjaxAnimeOn);
        // };
        // applyAjaxAnime();

        // window.onpopstate = function(e){
        //     if(e.state){
                
        //         document.title = htmlDecode(title);
        //         $('#loading-block').fadeOut("slow",function(){
        //             $('#loading-block')[0].innerHTML = e.state.content;
        //             $('#loading-block').fadeIn('slow');
        //             evalScript(e.state.data, $('#loading-block'));
        //             applyAjaxAnime();
        //         });
        //     }
        // }
        
    });
</script>

</body>
</html>
